<!DOCTYPE html>

<html lang="en">
<head>
    <style>
        #remove-btn {
            text-decoration: none;
            border-radius: 4px;
            font-weight: bolder;
            color: blue;
        }

        #remove-btn:hover {
            text-decoration: none;
            border-radius: 4px;
            color: red;          
        }

        .table-container {
            width: 100%;
            {% comment %} max-width: 450px; {% endcomment %}
            overflow-x: auto;
        }
    
        table {
            width: 100%;
            border-collapse: collapse;
        }
    
        th, td {
            padding: 8px;
            text-align: left;
            font-size: 15px; /* Adjust font size for better fit */
            word-wrap: break-word; /* Ensure long text wraps properly */
        }
    
        th {
            background-color: #f4f4f4; /* Optional: Add background for header */
        }
    
        td {
            white-space: nowrap; /* Prevent text overflow in normal cases */
        }
    
        /* Responsive adjustments */
        @media (max-width: 450px) {
            th, td {
                font-size: 12px; /* Further reduce font size for small screens */
            }
            .table-bordered {
                display: block; /* Allows scrolling for narrow screens */
            }
        }
    </style>

    {% load static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>JR Technologies</title>
    <script src="{% static "script.js" %}"></script>

   <!-- Bootstrap CSS -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<!-- Font Awesome -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<!-- Toastr CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">

<!-- Gritter CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-gritter/1.7.4/css/jquery.gritter.css" rel="stylesheet">

<!-- Animate CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" rel="stylesheet">

<!-- Custom CSS -->
<!-- Replace 'style.css' with your hosted custom stylesheet -->
<link href="{% static "style.css" %}" rel="stylesheet">


</head>

<body>
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation" style="margin-top:50px">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li >
                        <a href="{% url "dashboard" %}"><i class="fa fa-home"></i> <span class="nav-label">Home</span></a>
                    </li>
                    <li >
                        <a><i class="fa fa-users"></i> <span class="nav-label">Customer Management</span></a>
                        <ul class="nav nav-second-level">
                            <li ><a href="{% url "addCustomer" %}"><i class="fa fa-plus" aria-hidden="true"></i>Add Customer</a></li>
                            <li ><a href="{% url "listCustomer"%}"><i class="fa fa-list" aria-hidden="true"></i>List Customer</a></li>
                        </ul>
                    </li>
                    <li >
                        <a><i class="fa fa-th-large"></i> <span class="nav-label">Employee Management</span></a>
                        <ul class="nav nav-second-level">
                            <li ><a href="{% url "addEmployee" %}"><i class="fa fa-plus" aria-hidden="true"></i>Add Employee</a></li>
                            <li ><a href="{% url "listEmployee" %}"><i class="fa fa-list" aria-hidden="true"></i>List Employee</a></li>
                        </ul>
                    </li>
                    <li class="active">
                        <a><i class="fa fa-th-large"></i> <span class="nav-label">Material Management</span></a>
                        <ul class="nav nav-second-level">
                            <li ><a href="{% url "addMaterial" %}"><i class="fa fa-plus" aria-hidden="true"></i>Add Material</a></li>
                            <li class="active"><a><i class="fa fa-list" aria-hidden="true"></i>List Material</a></li>
                        </ul>
                    </li>
                    <li >
                        <a><i class="fa fa-th-large"></i> <span class="nav-label">Inward Management</span></a>
                        <ul class="nav nav-second-level">
                            <li ><a href="{% url "addInward" %}"><i class="fa fa-plus" aria-hidden="true"></i>Add Inward</a></li>
                            <li ><a href="{% url "listInward" %}"><i class="fa fa-list" aria-hidden="true"></i>List Inward</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </nav>

        <div id="page-wrapper" class="gray-bg dashboard-1">
        <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " ><i class="fa fa-bars"></i> </a>
            {% comment %} <form role="search" class="navbar-form-custom" method="post" action="search_results.html">
                <div class="form-group">
                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                </div>
            </form> {% endcomment %}
        </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <span class="m-r-sm text-muted welcome-message">Welcome to JR Technologies Admin Dashboard.</span>
                </li>
                <li class="dropdown" style="display:none">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope"></i>  <span class="label label-warning">16</span>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <div class="dropdown-messages-box">
                                <a href="profile.html" class="pull-left">
                                    <img alt="image" class="img-circle" src="img/a7.jpg">
                                </a>
                                <div class="media-body">
                                    <small class="pull-right">46h ago</small>
                                    <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>
                                    <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="dropdown-messages-box">
                                <a href="profile.html" class="pull-left">
                                    <img alt="image" class="img-circle" src="img/a4.jpg">
                                </a>
                                <div class="media-body ">
                                    <small class="pull-right text-navy">5h ago</small>
                                    <strong>Chris Johnatan Overtunk</strong> started following <strong>Monica Smith</strong>. <br>
                                    <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="dropdown-messages-box">
                                <a href="profile.html" class="pull-left">
                                    <img alt="image" class="img-circle" src="img/profile.jpg">
                                </a>
                                <div class="media-body ">
                                    <small class="pull-right">23h ago</small>
                                    <strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <br>
                                    <small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="text-center link-block">
                                <a href="mailbox.html">
                                    <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" style="display:none">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell"></i>  <span class="label label-primary">8</span>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="mailbox.html">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> You have 16 messages
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="profile.html">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="grid_options.html">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="text-center link-block">
                                <a href="notifications.html">
                                    <strong>See All Alerts</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>


                <li>
                    <a href="{% url "signout" %}">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>
            </ul>

        </nav>
    </div>
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-9">
            <h2>Material Management</h2>
            <ol class="breadcrumb">
                <li>
                    <a href={% url "dashboard" %}>Home</a>
                </li>
                <li class="active">
                    <strong>List Material</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="table-container">
        <table class="table-bordered table table-striped">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Material ID</th>
                    <th>Material Name</th>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Sub Categories</th>
                    <th>Size</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{item.Material_Id}}</td>
                    <td>{{item.Material_Name}}</td>
                    <td>{{item.Material_Make}}</td>
                    <td>{{item.Model}}</td>
                    <td>{{item.Sub_Categories}}</td>
                    <td>{{item.Size}}</td>
                    {% comment %} <td><a href="{% url 'remove' item.Employee_Id %}" id="remove-btn">Remove</a></td> {% endcomment %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
        

    <!-- Mainly scripts -->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/3.0.7/metisMenu.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.8/jquery.slimscroll.min.js"></script>

<!-- Flot -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flot.tooltip/0.9.0/jquery.flot.tooltip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flot-spline/0.0.1/jquery.flot.spline.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.resize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.pie.min.js"></script>

<!-- Peity -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/peity/3.3.0/jquery.peity.min.js"></script>

<!-- Custom and plugin javascript -->
<!-- Replace 'inspinia.js' with your custom script hosted online -->
<script src="{% static "inspinia.js" %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.2.4/pace.min.js"></script>

<!-- jQuery UI -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

<!-- GITTER -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-gritter/1.7.4/js/jquery.gritter.min.js"></script>

<!-- Sparkline -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.1.2/jquery.sparkline.min.js"></script>

<!-- Sparkline demo data -->
<!-- Replace 'sparkline-demo.js' with your hosted script -->
<script src="{% static "demo.js" %}"></script>

<!-- ChartJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>

<!-- Toastr -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>


</body>
</html>
